---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A Propos | TAGNE Guylain Florian" description="">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A Propos"
				tagline="Merci d'être passé. Lisez ci-dessous pour en savoir plus sur moi-même et mon parcours."
			>
				<img
					
					src="/assets/moi.png"
					alt="FLORIAN "
					style="width: 300px; height: 320px; object-fit: cover; background-position: center;"
 
				/>
			
			</Hero>

			<section>
				<h2 class="section-title">Qui suis-je</h2>
				<div class="content">
					<p>
						
En tant qu'apprenant en développement web full-stack, je possède une expertise complète dans la conception de solutions web novatrices, couvrant à la fois les aspects front-end et back-end. Grâce à une formation solide et à une expérience pratique en développement web, j'ai développé des compétences techniques avancées et une approche méthodique pour résoudre des problèmes complexes. Ma capacité à intégrer des technologies modernes et à créer des interfaces utilisateur intuitives me permet de concevoir des applications
 performantes et esthétiques.</p>
 <br/>
				
					<p>
						Mon parcours témoigne de mon engagement envers l'excellence dans le domaine du développement web. Je suis prêt à relever de nouveaux défis et à apporter une réelle valeur ajoutée à votre entreprise grâce à ma créativité et ma détermination. En collaborant avec des équipes multidisciplinaires et en travaillant sur divers projets, j'ai affiné mes compétences en gestion de projet et en communication, garantissant ainsi des solutions qui répondent aux besoins des clients et dépassent leurs attentes.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>MASTER 1 & 2 Informatique et Système d'Information à Cloud Campus
(Paris, France), 2023 - 2025

- Développement d’applications web et mobile
- Analyse et définition de stratégies informatiques
- Pilotage de l'information décisionnelle d'un SI
- Cybersécurité et protection des systèmes d'information.</p>
					   <br/>
						<p>Bachelor 3 en DevOps à l'EPSI      (Lyon, France), 2022 - 2023. 
							Développement d’applications web et mobile
							Méthodologie scrum
							Communication en projet.</p>
							<br/>
					<p>Formation L1 - L2 en TIC à l'Institut universitaire de la côte (Douala, Cameroun), 2019 - 2021.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Competences</h2>
				<div class="content">
					<p>SGBD : MySQL, Oracle, MongoDB, SQL Server. </p>
					<br/>
					<p>	IDE : Visual Studio Code, Visual Studio, Visual paradigm, Android Studio, IntelliJ, Eclipse, starUML . </p>
					<br/>
					<p>	Design : Figma, Canva, Adobe XD. </p>
					<br/>
					<p>Méthode d'analyse : UML (Analyse et conception des systèmes d’information), Merise.</p>
					<br/>
					<p>	Méthode agile : SCRUM.</p>
					<br/>
					<p>	Framework :   React,React Native,  ASP.net, NodeJS, ExpressJS, SpringBoot, Django </p>
					<br/>
					<p>	Langages : HTML5, CSS3, C#, JavaScript, JAVA ,PYTHON, SQL, C,PHP </p>
					<br/>
					<p>	Versioning : GitHub, GitLab, Jenkins. </p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
